@page "/Instructor/{id}"
@model Q2.Pages.Instructors.DetailModel
@{
}


<!-- saved from url=(0034)http://localhost:5190/Instructor/1 -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>
    <div class="container mt-4">
        <div class="detail-title">Instructor's detail</div>

        <div class="info-line">
            <span class="info-label">Instructor ID:</span> <span id="span_@Model.Instructor.InstructorId">@Model.Instructor.InstructorId</span>
        </div>
        <div class="info-line">
            <span class="info-label">Full Name:</span> <span id="span_@Model.Instructor.FullName">@Model.Instructor.FullName</span>
        </div>
        <div class="info-line">
            <span class="info-label">Expertise:</span> <span id="span_@Model.Instructor.Expertise">@Model.Instructor.Expertise</span>
        </div>

        <h4 class="mt-4">Assigned Courses:</h4>
        <table class="table-detail">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var c in Model.Instructor.Courses)
                {
                    <tr>
                        <td id="td_courseID_@c.CourseId">@c.CourseId</td>
                        <td id="td_courseName_@c.CourseId">@c.CourseName</td>
                        <td id="td_credits_@c.CourseId">@c.Credits</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>